* {
  box-sizing: border-box;
}

html,
body {
  text-align: center;
  background-image: url("https://previews.123rf.com/images/fighterfrancevna/fighterfrancevna1603/fighterfrancevna160300017/53392555-bright-pattern-80-s-background-checkered-bumage-abstraktne-geometric-shapes-illustration-for-hipster.jpg");
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.body {
  height: 100vh;
}
